<p>Option1 Index</p>

{{#link-to 'proj1'}}Open Project 1 {{/link-to}}
{{#link-to 'add'}}Add projects{{/link-to}}
<div style = "border:2px solid black;background-color:blue;margin: 5px 5px 5px 5px">
{{outlet}}
</div>
